.done-true {
  text-decoration: line-through;
  color: grey;
}

.buttondemoBasicUsage section {
  background: #f7f7f7;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px; }

.buttondemoBasicUsage md-content {
  margin-right: 7px; }

.buttondemoBasicUsage section .md-button {
  margin-top: 16px;
  margin-bottom: 16px; }

.buttondemoBasicUsage .label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.54; }

.size-card {
  height: 600px!important  ;
  width: 600px!important  ;
}

.my-icon
{
   fill : #ffffff!important;
}

.md-datepicker-calendar-pane{
z-index: 1200}


.md-button.logo {
   height: 48px;
   width: 48px;
 }
  .logo-image {
   height: 100%;
   width: 100%;
 }

 .running {
  color: "#eb7053";
}
.swimming {
  background-color : "#afebff";

}
.cycling {
  background-color : "#88928f";

}
.btn1 {
  color : rgb(222, 46, 46);
  background-color: rgba(255, 222, 121, 0.96);
  border-radius: 10px 0 0 10px;
  font-size: 16px;
}

.bgimg_t {
    background-image: url('../assets/img/womans_mask.jpg');
    background-size:100%;
    
}