<!doctype html>
<html ng-app="fitCatch">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <script src="js/index.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <div ng-controller="AppCtrl as ctrl" ng-cloak>
     

      <section layout="row" layout-sm="column" layout-align="center" layout-wrap>
          
         <md-card ng-show="!hasWorkouts(workouts)" flex="50">

            <md-card-content >
              <div layout="row" layout-align="center">
                
                  <h1 md-colors="{color:'blue-grey-800'}">Workout Log</h1>
                
              </div>

              <div layout="row" layout-align="center">
                  <img ng-src="{{imagePath}}" alt="Washed Out" layout="row" layout-align="center center">
              </div>
              <div layout="row" layout-align="center">
                <h3 md-colors="{color:'blue-grey-800'}">Work Out Now!</h3>
              </div>

            </md-card-content>
         </md-card>
         
         <md-card ng-show="hasWorkouts(workouts)" flex="50">

           <md-card-content >
              
              <div layout="row" layout-align="center">
                <h1 md-colors="{color:'blue-grey-800'}">Workout Log</h1>
                

              </div>
             <md-divider ></md-divider>

             <div layout="row">
                <div layout="row" flex="90" layout-align="center">
                      <div id="count_hours" layout="row" >
                        <md-icon style="width:48px;height:48px;" md-svg-src="assets/img/Olympic_Rings.svg" >
                        </md-icon>
                        <b md-colors="{color:'blue-grey-700'}" layout="row" layout-align="center center" class="md-padding">
                           {{count_hours}} hours of exercises
                        </b>
                      </div>
                  </md-icon>

                </div>
                <div layout="row" layout-align="end" flex="10">
                  <md-input-container>
                    <label>Sort</label>
                    <md-select ng-model="test">
                      <md-option ng-repeat="order in orders" ng-value="order.id" ng-click="orderByWorkouts(order.expression)">
                        <md-icon md-svg-src="{{order.icon}}" >
                        </md-icon>
                        {{order.name}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                </div>
              </div>
              
              <md-list>
                <md-list-item class="md-2-line" ng-repeat="workout in workouts">
                  <md-button class="md-fab" ng-style="workout.color" aria-label="Time">
                  {{workout.time}}
                  </md-button>
                  <div class="md-list-item-text">
                    <h3>{{workout.title}}</h3>
                    <p>{{workout.date}}</p>
                  </div>

                  <md-button class="md-secondary md-icon-button" aria-label="Delete">
                     <md-icon md-svg-src="assets/icon/ic_delete_black_24px.svg" ng-click="deleteWorkout(workout)"> </md-icon>
                  </md-button>

                  <md-divider ></md-divider>
                </md-list-item>

              </md-list>

           </md-card-content>
          </md-card>

        </section>

      </md-content>
      <md-button class="md-fab md-fab-bottom-right" ng-click="showAddWorkoutDialog($event, kinds)" aria-label="Add" >                 
        <md-icon md-svg-src="assets/icon/ic_add_white_24px.svg"></md-icon>
      </md-button>

    </div>

  </body>
</html>