<md-dialog aria-label="Insert new Workout">
    <md-content>

        <md-card class="card-padding">

            <form ng-submit="addWorkout()">

            	<md-dialog-content>
            		<div layout="row" layout-align="center">
                        <h2 class="md-title">Add a new Workout</h2>
              		</div>
              		<md-divider ></md-divider>

              		<div layout="row" layout-sm="column" layout-align="center center">
	              		<div flex="10">
	              		</div>
	              		<div flex="40">
		            		<md-radio-group ng-model="kindModel" >
						      	<md-radio-button ng-repeat="kind in dataKinds"
						                       ng-value="kind.value"
						                       aria-label="{{kind.title}}">
						          	<md-icon md-svg-icon="{{kind.img}}" class="s48"></md-icon>
						          	{{kind.title}}
						      	</md-radio-button>
						    </md-radio-group>
					    </div>
		                <div flex="50">

		                    <md-datepicker ng-model="date" md-placeholder="Enter date"  data-ng-value="date" >
		                	</md-datepicker>

		                    <md-input-container flex>
		                        <label>Time Spend(Hours) </label>
		                        <input ng-model="time" type="number" step="1" min="1">
		                    </md-input-container>


		                </div>
		               </div>
                </md-dialog-content>

              	<md-dialog-actions layout="row" layout-align="end">
				  <md-button ng-click="cancel()">
				  	Cancel
				  </md-button>
			      <md-button class="md-primary" ng-click="add(title, time, date, type)" >
			        Add
			      </md-button>
			    </md-dialog-actions>
            </form>
        </md-card>
    </md-content>
</md-dialog>